{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    <p>Formulaire d'inscription</p>

    {{ form(form) }}

{% endblock %}